/* This is the CSS file that you should modify */


/* css variables */

:root {
    /* spacing and dimention */
    --width-nav: 300px;
    --gutter-base: 30px;
    --gutter-half: calc(var(--gutter-base) / 2);
    /* font */
    --fz-title1: 28px;
    --fz-title2: 22px;
    --fz-title3: 17px;
    --fz-default: 14px;
    /* colors */
    --color-brand: #ffcc66;
    --color-disabled: #999999;
    /* raduis */
    --raduis-default: 5px;
    /* ligne border */
    --border-table: solid 2px var(--color-brand);
}


/* init box model behavior */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#page {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    /* TODO: Complete CSS definition */
    font-size: var(--fz-title1);
    color: var(--color-brand);
    order: 1;
    padding: var(--gutter-base);
    text-decoration: underline;
    text-align: center;
}

#navigation {
    /* TODO: Complete CSS definition */
    display: flex;
    flex-direction: column;
    order: 0;
    padding: 15px;
    position: relative;
    width: 100%;
}

.nav-container-aside {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: end;
}

#introduction {
    /* TODO: Complete CSS definition */
    order: 2;
    padding: var(--gutter-base);
    text-align: justify;
}

#introduction .brand {
    background-color: var(--color-brand);
    border-radius: var(--raduis-default);
    /* padding: var(--gutter-half); */
}

#content {
    /* TODO: Complete CSS definition */
    order: 3;
    padding: var(--gutter-base);
    width: 100%;
}

#content header {
    font-weight: bold;
    font-size: var(--fz-title3);
    margin-bottom: var(--gutter-half);
}

details {
    padding: var(--gutter-half);
}

details[open] {
    background-color: var(--color-brand);
    border-radius: var(--raduis-default);
}

details summary {
    cursor: pointer;
    margin-bottom: var(--gutter-half);
}

details summary::marker {
    color: var(--color-disabled);
}


/* TODO: Feel free to add all rules you need */


/* Some definition to avoid spending too much time.
 * But you can change it if you want to */

.nav-blue {
    background: lightsteelblue;
}

.nav {
    list-style: none;
}

.nav a {
    color: white;
    display: block;
    padding: 0 1em;
    text-decoration: none;
}

.nav-item {
    min-height: 2em;
}

.nav-item a[disabled] {
    text-decoration: line-through;
    color: var(--color-disabled);
}

table {
    border-right: var(--border-table);
    border-bottom: var(--border-table);
    border-spacing: 0;
    margin-top: var(--gutter-base);
    width: 100%;
}

table th,
table td {
    /* width: 33%; */
    text-align: center;
    border-left: var(--border-table);
    border-top: var(--border-table);
    padding: var(--gutter-half);
}


/* responsive */

@media (min-width: 768px) {
    #title,
    #introduction,
    #content {
        width: calc(100% - var(--width-nav));
        position: relative;
        left: var(--width-nav);
    }
    #navigation {
        padding: var(--gutter-half);
        width: var(--width-nav);
        height: 100vh;
        position: absolute;
    }
    table {
        width: 40%;
    }
}